/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
color-primary-warm = #fa6b57

*
    margin: 0
    padding: 0

strong 
    font-weight 500

body
    font-family 'Roboto', sans-serif



h2
    font-weight: 500
    font-size: 18px
    // color: color-primary-warm
    color: #888
    line-height: 32px