<div class="todo-container">
<p *ngIf="!todos.todo.all.length" class="notice">There's nothing left to do!</p>

<div class="todo-search">
  <input [(ngModel)]="searchTerm" (keyup)="searchTodos()" placeholder="Search todos" />
  <select name="" id="" (change)="filterTodos($event.target.value)">
      <option default value="">Filter by tag</option>
      <option value="{{tag}}" *ngFor="let tag of objectKeys(todos.tags)">{{tag}}</option>
    </select>
  <div class="todo-filter">
    <button (click)="showAllTodos()" class="show-all" *ngIf="appliedFilters.length">Show all</button>
    <div class="tags">
      <span class="tag" 
        *ngFor="let tag of appliedFilters"
        [ngStyle]="{backgroundColor: todos.tags[tag].color}"
        (click)="filterTodos(tag)"
        >
        {{ tag }}
      </span>
    </div>
  </div>
</div>



<div *ngIf="todos.todo.filtered.length">
  <h2>To do</h2>
  <div class="todos">
    <div class="todo todo-todo" *ngFor="let todo of todos.todo.filtered">
      <p>
        <span 
          class="mark-done checkbox" 
          (click)="markAsDone(todo)"
        ></span>
        {{ todo.content }}
      </p>
      <div class="tags">
        <span class="tag" 
          *ngFor="let tag of todo.tags"
          [ngStyle]="{backgroundColor: todos.tags[tag].color}"
          (click)="filterTodos(tag)"
        >
          {{ tag }}
        </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="todos.done.filtered.length">
  <h2 *ngIf="todos.done.all.length || appliedFilters.length">Done</h2>
  <div class="todos">
    <div class="todo todo-done" *ngFor="let todo of todos.done.filtered">
        <p>
          <span class="mark-todo checkbox" (click)="markAsTodo(todo)">✔</span>
          {{ todo.content }}
        </p>
        <div class="tags">
          <span 
            class="tag tag-disabled" 
            *ngFor="let tag of todo.tags"
            (click)="filterTodos(tag)"
          >
              {{ tag }}
            </span>
        </div>
      </div>
  </div>
</div>
</div>