color-primary-warm = #fa6b57

.todos
    border-top: 1px dotted #d8d8d8
    border-bottom: 1px solid #fff
    .todo
        border-bottom: 1px dotted #d8d8d8
        padding: 10px
        border-top: 1px solid #fff
    .todo-done
        text-shadow: none
        color: #bbb

.notice
    text-align: center
    padding: 20px
    color: color-primary-warm
    font-size: 20px