color-primary-warm = #fa6b57
color-primary-cold = #1f2d3b

h2 
    padding: 5px

.todo-container
    display: flex
    flex-direction: column
    max-height: 100%

.todos
    border-top: 1px dotted #d8d8d8
    border-bottom: 1px solid #fff
    border-radius: 5px
    .todo
        border-bottom: 1px dotted #d8d8d8
        border-top: 1px solid #fff
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 5px
        transition: background 0.2s ease-in-out
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        &:hover
            background: #eee
        p
            position relative
            padding: 10px 10px 10px 30px
            span.checkbox
                position absolute
                left: 5px
                top: 50%
                margin-top -8px
                height 16px
                width 16px
                box-shadow inset 0 0 10px -2px #bbbbbb
                border-bottom 1px solid #ffffff
                border-top 1px solid #bbb
                text-align: center
                border-radius: 2px
                cursor pointer
        &.todo-todo
            &:hover
                span.checkbox:after
                    content: '✔'
                    opacity: 0.5
                    color: #888
            span.checkbox
                &:after
                &:hover:after
                    color: color-primary-warm
                    opacity: 1
                &:hover
                    border-top-color saturation(darken(color-primary-warm, 20%), 80%)
                    border-bottom-color saturation(lighten(color-primary-warm, 65%), 90%)
                    box-shadow: 0 0 0 5px color-primary-warm
    .todo-done
        text-shadow: none
        color: #bbb

.tags
    margin: 0 5px
    display: flex
    flex-wrap: wrap
    span.tag
        color: #ffffff
        text-shadow: 0 -1px 0 rgba(0,0,0,0.2)
        font-size: 80%
        padding: 2px 5px
        border-radius: 3px
        margin: 5px
        cursor: pointer
        transition: transform 0.1s ease-in-out
        position relative
        &.tag-disabled
            background: #aaa
        &:hover
            transform: scale(1.1)

.todo-filter
    display: flex
    width: 50%
    // justify-content: space-between
    align-items: center
    .show-all
        background: #ddd;
        border-radius: 3px;
        padding: 10px;
        text-transform: capitalize;
        font-size: 12px;
        color: #777;
        font-weight: 500
        border: 1px solid;
        text-shadow: 0 1px 0 #f3f3f3;
        border-color: #d5d5d5 #d0d0d0 #bbb;
        box-shadow: inset 0 1px 0 #eee, inset 1px 0 0 #e5e5e5, inset -1px 0 0 #e5e5e5, 0 5px 3px -3px #ddd;
        cursor: pointer
        transition: background 0.2s ease-in-out
        position relative
        min-width: fit-content
        &:hover
            background: #e5e5e5;
        &:active
            top 1px
            outline: none
.notice
    text-align: center
    color: #999
    font-size: 20px
    margin-bottom: 20px

.todo-search
    display: flex
    padding-bottom: 20px
    border-bottom 1px dotted #ccc
    box-shadow 0 1px 0 #fff
    border-radius: 5px
    align-items: center
    input 
        border: 1px solid #eee
        padding: 10px
        display block
        flex: 1 1 100%
    select 
        border 1px solid #eee
        background #fff
        color #777
        margin 0 10px
        padding 10px