<div class="app-menu">
  
    <div class="display-date">
        <span class="date-weekday">
          {{ time | date:'EEEE'}}
        </span>
        <span class="date-day">
          {{ time | date:'d'}}
        </span>
        <span class="date-month">
          {{ time | date:'MMMM'}}
        </span>
      </div>
  
  <div>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/agenda">Agenda</a>
    <a routerLink="/todos">Todo</a>
  </div>

  <div>
    <a routerLink="/goals">Goals</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/ideas">Ideas</a>
  </div>

  <div>
    <a routerLink="/contacts">Contacts</a>
  </div>

  <!-- <div>
    <a href="">Budget</a>
    <a href="">Wishlist</a>
  </div>

  <div>
    <a href="">Ideas</a>
    <a href="">Projects</a>
    <a href="">Goals</a>
    <a href="">Notes</a>
    <a href="">Know-how</a>
  </div>

  <div>
      <a href="">Contacts</a>
      <a href="">Diary</a>
      <a href="">Stories</a>
      <a href="">Anxiety Meter</a>
  </div>

  <div>
      <a href="">Art</a>
      <a href="">Music</a>
      <a href="">Hobby</a>
  </div> -->
</div>